################################################################################
# Fichier d'exemple de configuration des variables d'environnement
# TissiMah VPS-dev
#
# IMPORTANT:
# 1. Copiez ce fichier vers .env
# 2. Remplacez les valeurs par vos propres secrets
# 3. NE COMMITEZ JAMAIS le fichier .env dans Git !
#
# Commandes :
#   cp .env.example .env
#   nano .env  # Éditez et remplacez les valeurs
################################################################################

#------------------------------------------------------------------------------
# AUTH SERVICE - PostgreSQL
#------------------------------------------------------------------------------

# Mot de passe PostgreSQL pour auth_user
# Recommandations :
# - Minimum 16 caractères
# - Mélange de majuscules, minuscules, chiffres et symboles
# - Évitez les caractères spéciaux qui peuvent poser problème : " ' ` $ \
AUTH_POSTGRES_PASSWORD=
AUTH_POSTGRES_DB=
AUTH_POSTGRES_USER=
AUTH_POSTGRES_PORT=
AUTH_POSTGRES_HOST=
POSTGRES_HOST_AUTH_METHOD=

# Génération d'un mot de passe sécurisé :
#   openssl rand -base64 32

#------------------------------------------------------------------------------
# AUTH SERVICE - Redis
#------------------------------------------------------------------------------

# Mot de passe Redis pour auth-service
# Même recommandations que PostgreSQL
AUTH_REDIS_PASSWORD=
AUTH_REDIS_PORT=

# Génération d'un mot de passe sécurisé :
#   openssl rand -base64 32



#------------------------------------------------------------------------------
# KONG API GATEWAY - Redis
#------------------------------------------------------------------------------

# Adresse du seveur redis pour Kong
KONG_REDIS_HOST=

# Mot de passe Redis pour Kong (rate-limiting)
KONG_REDIS_PASSWORD=

# Port Redis Kong différent de Redis auth
KONG_REDIS_PORT=

# Clé API Firebase
FIREBASE_API_KEY=


# Génération d'un mot de passe sécurisé :
#   openssl rand -base64 32