# =============================================================================
# Notification Service — Variables d'environnement
# =============================================================================
# cp .env.example .env

# --- Obligatoire ---
ENVIRONMENT=local
LOG_LEVEL=debug
DATABASE_URL=postgres://tissimah:tissimah@localhost:5432/notification_service?sslmode=disable
REDIS_URL=redis://localhost:6379/0

# --- Optionnel ---
# GRPC_PORT=50060
# GRPC_ADDRESS=0.0.0.0

# --- Services distants ---
# USER_SERVICE_HOST=0.0.0.0
# USER_SERVICE_PORT=50052
# PUSH_SERVICE_HOST=0.0.0.0
# PUSH_SERVICE_PORT=50062
# EMAIL_SERVICE_HOST=0.0.0.0
# EMAIL_SERVICE_PORT=50061
