# User Service — Variables d'environnement

# MongoDB
MONGODB_URL=mongodb://dev:dev123@localhost:27017/user_db?authSource=admin
MONGODB_DATABASE=user_db

# Redis (dédié user-service)
REDIS_URL=redis://localhost:6380

# gRPC Server
GRPC_ADDRESS=0.0.0.0
GRPC_PORT=50052

# Auth Service (inter-service)
AUTH_SERVICE_HOST=0.0.0.0
AUTH_SERVICE_PORT=50051

# Firebase
FIREBASE_PROJECT_ID=tissi-mah-dev

# Environment
ENVIRONMENT=local
LOG_LEVEL=debug
