REDIS_URL=redis://localhost:6384/0
GRPC_ADDRESS=0.0.0.0
GRPC_PORT=50055
FILE_SERVICE_HOST=0.0.0.0
FILE_SERVICE_PORT=50053
ENVIRONMENT=local
LOG_LEVEL=debug
PERSONA_API_KEY=persona_sandbox_xxx
PERSONA_WEBHOOK_SECRET=whsec_xxx
